@media (max-width: 768px){
    
    .background-pattern-desktop{
       display: none;
    }
    .bg-mobile{
      display: block;
      width: 100%;
     z-index: -9;
     position: absolute;
        top: 0;
    }
    .background-pattern-mobile{
        width: 100%;
    }
    .container{
        width: 315px;
        margin-top: 4rem;
        position: relative;
        margin-bottom: 70px;
   
    }
    .faq-answer{
        font-size: 16px;
        font-weight: 400;
    }
    .faq-answer-icon {
        display: none;
    }
    
    .faq-item2.open .faq-answer-icon {
        display: block;
        color: hsl(275, 100%, 79%);
    }
    
    .hidden {
        display: none;
    }
    
}